body{
    background-color: #85AFD4;
}
p, table{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
}
h1, h2, h3{ 
    font-weight: bold;
    color: white;
}
button{
    background-color: #E47272;
    color: white;
    border-radius: 20%;
    }
button:hover{
    cursor: pointer;
}
a{
    font-weight: bold;
    color: white;
}
.register-titlediv{
    text-align: center;
}
.register-container{
    display: flex;
    justify-content: center;
    margin: auto;
}
.home-title{
    text-align: center;
}
.home-container{
    display: flex;
    justify-content: center;
    margin: auto;
}
.home-table{
    border: 2px solid white;
}
.login-title{
    text-align: center;
}
img{
    width:10%;
    height: 3%;
}
.login-container{
    display: flex;
    justify-content: center;
    margin: auto;
}
.login-maincontent{
    text-align: center;
}
.login-button{
    margin-top: 15px;
}
label{
    color: white;
}
.forgotpassword-container{
        display: flex;
        justify-content: center;
        margin: auto;
}
.forgotpassword-maincontent{
    text-align: center;
}