
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-image: url(photos/backgroung.jpg);

}
body::-webkit-scrollbar {
    display: none;
}
ul{
    list-style-type: none;
    padding: 15px;
    margin-inline: 0%;
    overflow: hidden;
    top: 0%;
    position:sticky;
    background-color: rgba(51,51,51, .7);
}
li{
    padding-inline: 20px;
    float: left;
}
li a{
    display: block;
    font-weight: bold;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: larger;
}
li a:hover {
    background-color: rgba(32, 31, 31, 0.7);
    border-radius: 15%;
    transition: 0.3s
}
.active{
    background-color: rgb(206, 141, 12);
    border-radius: 15%;
}
.active:hover{
    border-radius: 15%;
    background-color: rgb(158, 106, 3);
        transition: 0.3s
}
.photo{
    height: 40px;
    width: 40px;
}
.photo-aboutus{
    display: inline;
    align-items: center;
}
footer {
    text-align: center;
    padding: 13px;
    background-color: rgba(51, 51, 51, .7);
    color: white;
}
a{
    color: white;
    text-decoration: none;
}
.main-title{
    text-align: center;
    font-family: cursive;
    font-style: italic;
    background-color: rgb(158, 106, 3);
    margin-inline: 25%;
    margin-top: 15px;
    margin-bottom: 40px;
    padding-block: 15px;
    color: white;
    border-radius: 5px;
    
}
.maincontent{
display: flex;
justify-content: center;
background-color: rgba(105, 102, 102, 0.9);
margin-inline: 120px;
padding-top: 20px;
border-radius: 5px;
}
.main-image{
    height: 27rem;
    margin-inline: 10px;
    border-radius: 5px;
}
.content:hover{
    transition: 0.5s;
    opacity: 0.7;
}
.content{
    text-align: center;
}
.content-text{
    background-color: rgb(158, 106, 3);
    margin-inline: 90px;
    margin-bottom: 5px;
    padding-block: 5px;
    color: white;
    border-radius: 5px;
    font-family: cursive;
    font-style: italic;
}
.co-maincontent{
            display: flex;
            justify-content: center;
            background-color: rgba(105, 102, 102, 0.9);
            margin-inline: 70px;
            margin-top: 40px;
            padding-top: 10px;
            border-radius: 5px;
}
.co-mainimage{
    height: 7rem;
    margin-inline: 30px;
    border-radius: 9999px;
}
.co-content-text{
        background-color: rgb(158, 106, 3);
            margin-inline: 17px;
            margin-bottom: 5px;
            padding-block: 2px;
            color: white;
            border-radius: 5px;
            font-family: cursive;
            font-style: italic;
            font-size: small;
}
.searchbar{
    margin-top: 40px;
    justify-content: center;
    align-items: center;
    display: flex;
    color: white;
    border: 2px solid black;
    padding-block: 20px;
    padding-inline: 40px;
    margin-inline: 20%;
    margin-bottom: 5%;
}
h3{
    background-color: rgb(158, 106, 3);
    padding: 5px;
    border-radius: 20%;
    border: 2px solid black;
    margin-inline: 70px;
}
.input-field{
    padding-block: 15px;
    padding-inline: 15px;
    color: white;
    background-color:rgb(158, 106, 3);
    border: 2px solid black;
}
::placeholder {
    color: white;
}

.button-52 {
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 20px 13px;
    outline: 0;
    border: 2px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    color: white;
}

.button-52:after {
    content: "";
    background-color: rgb(158, 106, 3);
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
}

.button-52:hover:after {
    top: 0px;
    left: 0px;
}

@media (min-width: 768px) {
    .button-52 {
        padding: 13px 50px 13px;
    }
}
.input-icons i {
    position: absolute;
}
.icon {
    padding: 10px;
    min-width: 40px;
}
.input-field {
    width: 100%;
    padding: 10px;
    text-align: center;
}
.fa-sign-in{
margin-right: 8px;
}
.about-us-content{
        background-color: rgba(158, 106, 3, 0.7);
        border-radius: 9999%;
        border: 1px solid white;
}
.aboutus-content-text{
    font-weight: bold;
    font-style: italic;
    font-size: large;
    text-align: center;
    color: white;
}
.aboutus-content-text:hover{
    font-size: larger;
    transition: 0.3s;
}
.cooking-img{
    width: 800px;
    height: 450px;
    margin-left: 23%;
    margin-bottom: 2%;
    border: 1px solid white;
}
.aboutus-content-title{
        text-align: center;
        color: white;
        font-style: italic;
        padding-top: 3%;
        padding-bottom: 3%;
}
.recipes-maincontent{
    align-content: center;
    margin-block: 5%;
    background-color: rgba(158, 106, 3, 0.7);
    border: 1px solid white;
    border-radius: 5%;
}
.recipes-image{
    display: block;
    width: 100%;
    border: 1px solid white;
    padding: 6%;
}
.recipes-image:hover{
    padding: 0.5%;
    transition: 1s;
    border: 3px solid white;
    background-color: white;
}
.recipes-secondcontent{
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    margin-inline: 25%;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: x-large;
    font-style: italic;
    align-content: center;
}